extends layout

block content
  h1 Fossils List
  .container-fluid
    .row
      each fossil, index in fossils
        .col-sm-4
          a(href=`/resource/fossils/${fossil._id}`)
            h3 #{fossil.name}
            p Age: #{fossil.age} million years
            p Location: #{fossil.location}